body {
    font-family: sans-serif;
    line-height: 1.5;
    color:aliceblue;
  
    background-color: #535d96;
   
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
    color: red;
    border: 1px solid yellow;
  }
  footer {
    text-align: right;
  }